# Data Science Tools and Ecosystem

 # Introduction
 In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* popular languages for data science
* popular libraries for data science
* data science tools

# Some of the Languages that  Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. MATLAB

# Some of the commonly used libraries used by Data Scientists include:
## Python Libraries
1. NumPy
2. Pandas
3. Matplotlib

## R Libraries
1. ggplot2
2. dplyr
3. tidyr

# Data Science Tools
| Tool |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

# This is a simple arithmetic expression to multiply and add integers

In [14]:
(3*4)+5

17

# This will convert 200 minutes to hours by dividing by 60

In [17]:
200/60

3.3333333333333335

## Author
Zin